@model Property_WepAPI.Models.Dto.ForgetPassworedDto

@{
    ViewData["Title"] = "ForegetPasswored";
}

<form asp-action="ForegetPasswored">
    <div class="container border p-4">
        <div class="row text-center">
            <h1 class="text-primary"> Foreget Passwored</h1>
        </div>
        <div class="row text-center">
            <div class="text-danger" asp-validation-summary="All"></div>
        </div>
        <div class="row ">

            <div class="col-6 offset-3 pt-2 ">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-6 offset-3 pt-2 ">
                <input type="submit" value="Send" class="form-control btn btn-success" />
            </div>
            <div class="col-6 offset-3 pt-2 ">
                <a asp-action="Login">Back to  login</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
